include README.rst CHANGES.md LICENSE do_tests.py do_benchmark.py NOTICE MANIFEST.in
recursive-include docs user-guide.rst
recursive-include more code-optimize.sh code-restore.sh measure_pattern_time_v1.py
